.AboutObject {
  height: 100%;
  width: 100%;
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background: $light-grey;
    .logo {
      width: 10%;
      height: 100%;
      padding-left: 50px;
      padding-top: 20px;
      span {
        font-size: 25px;
        color: $light-blue;
      }
    }
    .title-area {
      width: 60%;
      height: 100%;
      padding-left: 10px;
      padding-top: 20px;
      .title {
        font-size: 25px;
      }
      .address {
        margin-top: 10px;
        font-size: 20px;
        img {
          position: relative;
          top: 2px;
          margin-right: 10px;
        }
      }
      .object-type {
        position: relative;
        margin-top: 10px;
        font-size: 14px;
        .bc {
          color: $light-blue;
        }
      }
    }
    .metro-area {
      padding-top: 20px;
      .metro {
        margin-bottom: 5px;
        .name-logo {
          img {
            margin-right: 10px;
          }
        }
        .info {
          span {
            font-size: 12px;
            color: $light-blue;
            margin-left: 2px;
          }
          input {
            width: 50px;
          }
        }
      }
    }
  }

  .object-info {
    display: flex;
    flex-direction: row;
    height: 320px;
    width: 100%;
    padding-top: 20px;
    .image {
      position: relative;
      height: 300px;
      width: 40%;
      background: transparent;
      padding-right: 20px;
      .enlarge-photo {
        position: absolute;
        right: 25px;
        top: 5px;
        height: 30px;
        width: 30px;
        background: white;
        border-radius: 50%;
        border: 1px solid $light-blue;
        color: $light-blue;
        text-align: center;
        cursor: pointer;
        user-select: none;
        .enlarge-icon {
          line-height: 25px;
          font-size: 20px;
        }
        &:hover {
          background: darken(white, 10%);
          .tooltip {
            visibility: visible;
            font-size: 12px;
          }
        }
      }
      img {
        display: block;
        max-height: 100%;
      }
    }
    .properties {
      height: 300px;
      width: 30%;
      .props {
        height: 195px;
        .prop {
          .close {
            position: relative;
            bottom: 15px;
            left: 130px;
            transform: rotate(45deg);
            cursor: pointer;
            &:hover {
              font-weight: bold;
            }
          }
          width: 50%;
          display: inline-flex;
          margin-bottom: 10px;
          .prop-image {
            margin-right: 10px;
          }
          .prop-name {
            .prop-name-value {
              color: $light-blue;
              input {
                width: 100px;
              }
            }
            .prop-name-text {
              font-size: 12px;
            }
          }
        }
      }

      .infrastructure {
        .infrastructure-title {
          img {
            position: relative;
            margin-right: 5px;
            top: 2px;
          }
        }
        .infrastructure-values {
          margin-top: 5px;
          span {
            display: inline-block;
            font-size: 12px;
            color: $light-blue;
            margin-right: 10px;
          }
          input {
            font-size: 12px;
            width: 100%;
          }
        }
      }
    }

    .description {
      height: 300px;
      width: 30%;
      padding-right: 40px;
      .technical {
        height: 150px;
        .technical-title {
          margin-bottom: 5px;
          img {
            margin-right: 10px;
          }
        }
        .feature {
            font-size: 12px;
            .val {
              margin-left: 5px;
              color: $light-blue;
            }
        }
      }
      .commercial {
        .commercial-title {
          margin-bottom: 10px;
          img {
            margin-right: 10px;
          }
        }
        .delete {
          display: inline-block;
          position: relative;
          width: 2px;
          bottom: 5px;
          cursor: pointer;
          transform: rotate(45deg);
          font-size: 15px;
          margin-right: 10px;
          &:hover {
            font-weight: bold;
          }
        }
        .parking {
          display: inline-block;
          font-size: 12px;
          .parking-title {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .parking-item {
            margin-right: 10px;
            display: inline-block;
          }
          span {
            margin-left: 2px;
            .curr-selector {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .suggested-areas {
      max-height: 270px;
      .suggested-areas-title {
        img {
          margin-right: 10px;
        }
      }
      table {
        position: static;
        font-size: 12px;
        width: 735px;
        td {
          padding: 5px 2px 5px 5px;
          background: $light-grey;
          border: 5px solid white;
        }
        .table-header {
          td {
            background: transparent;
          }
        }
        .table-floor {
          width: 120px;
          .block-icon {
            position: relative;
            display: inline-block;
            float: right;
            margin: 0 2px 0 2px;
            cursor: pointer;
            &:hover {
              .tooltip {
                visibility: visible;
              }
            }
          }

        }
        .table-area {
          width: 100px;
        }
        .table-price {
          width: 80px;
        }
        .table-expense {
          width: 120px;
        }
        .table-tax {
          width: 90px;
        }
      }
      .suggested-areas-table-header {
        margin-top: 10px;
        height: 30px;
      }
      .suggested-areas-table-content {
        margin-top: 10px;
        height: 225px;
        overflow-y: scroll;
      }
    }
  }

  .additional {
    .additional-top {
      height: 70px;
      width: 100%;
      font-size: 12px;
      padding: 10px 40px 10px 40px;
      .light-blue {
        color: $light-blue;
      }
      table {
        td {
          padding: 5px;
        }
        .additional-information {
          width: 210px;
        }
        .site {
          background: $light-grey;
          border-radius: 20px;
          padding: 10px;
          font-size: 12px;
          text-align: center;
          a {
            text-decoration: none;
            color: $font-main-color;
            border-bottom: 1px solid $light-blue;
          }
        }
        .manager-request {
          width: 120px;
        }
        .manager-id {
          position: relative;
          font-size: 14px;
          background: $light-grey;
          border-radius: 20px;
          padding: 10px;
          .id-icon {
            position: absolute;
            text-align: center;
            padding-top: 3px;
            top: -5px;
            left: -5px;
            background: #d9dada;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 10px;
          }
        }
        .comment {
          position: relative;
          width: 520px;
          .comment-title {
            top: -10px;
            position: absolute;
            font-size: 14px;
          }
          .comment-content {
            padding: 8px;
            background: $light-grey;
            border-radius: 20px;
          }
        }
        .download-presentation {
          width: 200px;
          display: inline-flex;
          cursor: pointer;
          .pdf-image {
            width: 40px;
            height: 40px;
          }
          .pdf-text {
            margin-left: 10px;
            padding-top: 2px;
            width: 140px;
          }
        }
      }
    }
    .additional-bottom {
      height: 25px;
      width: 100%;
      padding-top: 5px;
      background: $light-grey;
      text-align: center;
      font-size: 12px;
    }
  }
}
