.Сontacts {
  .top-image {
    position: absolute;
    top: 40px;
    left: 130px;
  }
  .bottom-image {
    position: absolute;
    bottom: 0;
  }

  .contacts-info {
    position: absolute;
    right: 0;
    width: 55%;
    height: 100%;

    .contacts-title {
      position: relative;
      font-size: 30px;
      padding-top: 55px;
    }

    .contacts-broker {
      position: relative;
      display: inline-flex;
      padding-top: 20px;
      height: 140px;
      .photo-area {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        margin-right: 40px;
        overflow: hidden;
        text-align: center;
      }
      .text-area {
        div {
          margin-bottom: 5px;
        }
      }
    }

    .company-info {
      margin-top: 40px;
      .company-item {
        position: relative;
        margin-bottom: 20px;
        width: 420px;
        .icon-area {
          width: 40px;
        }
        .text-area {
          padding-left: 10px;
        }
        .text-area-newline {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
        }
      }

      .company-item-bld {
        @extend .company-item;
      }

      .company-item-comp {
        @extend .company-item;
        left: 60px;
      }

      .company-item-arrows {
        @extend .company-item;
        left: 120px;
      }

      .company-item-clipboard {
        @extend .company-item;
        left: 180px;
        width: 300px;
      }

      .company-item-human {
        @extend .company-item;
        left: 240px;
        width: 300px;
      }
    }

  }
}
