.Footer {
  display: inline-flex;
  position: absolute;
  width: 1286px;
  height: 60px;
  background: $footer-background;
  bottom: 0;
  .phone-numbers {
    color: $grey-for-text;
    font-size: 12px;
    width: 33%;
    padding-left: 50px;
    padding-top: 10px;
    span {
      padding-left: 10px;
    }
  }
  .logo {
    width: 33%;
    text-align: center;
    img {
      height: 35px;
      margin-top: 14px;
    }
  }
  .date-page {
    width: 33%;
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 45px;
    padding-top: 20px;
    .date {
      color: $light-blue;
      font-size: 20px;
      margin-right: 25px;
      font-weight: lighter;
    }
    .page {
      position: relative;
      bottom: 5px;
      padding: 0;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      background: $light-blue;
      text-align: center;
      span {
        position: relative;
        top: 5px;
        color: $footer-background;
      }
    }
  }
}
