.left-button {
  position: absolute;
  left: 5px;
  bottom: 50%;
  width: 30px;
  height: 30px;
}
.right-button {
  position: absolute;
  right: 5px;
  bottom: 50%;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.PhotoViewer {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo-button {
  cursor: pointer;
  &:hover {
    #svg_1 {
      fill: darken($light-blue, 10%);
    }
  }
}

.modal {
  position: absolute;
  display: inline-flex;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2b2939;
    opacity: 0.9;
  }
  .original-photo {
    padding-right: 10px;
    position: relative;
    width: 85%;
    height: 100%;
    .react-swipe-container {
      height: 100%;
      width: 100%;
      div {
        height: 100%;
        display: flex;
        flex-direction: row;
      }
    }
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    .left-button {
      width: 50px;
      height: 50px;
    }
    .right-button {
      width: 50px;
      height: 50px;
      right: 15px;
    }
  }
  .previews-area {
    position: relative;
    display: inline-block;
    overflow-y: scroll;
    width: 10%;
    height: 100%;
    .image-block {
      width: 106px;
      height: 69px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-left: 5px solid transparent;
      cursor: pointer;
    }
    .choosen {
      border-left: 5px solid $light-blue;
    }
  }
  .close-area {
    display: inline-block;
    position: relative;
    width: 5%;
    height: 100%;
    .close {
      position: relative;
      top: -10px;
      float: right;
      margin-right: 20px;
      font-size: 60px;
      color: white;
      transform: rotate(45deg);
      cursor: pointer;
      &:hover {
        color: darken(white, 10%);
      }
    }
  }
}
