.SuggestedObjects {
  .page-title {
    margin-left: 50px;
    #bld-icon {
      position: relative;
      top: 5px;
      margin-right: 5px;
    }
  }
  .suggested-list {
    margin: 10px 40px 0 40px;
    .list-item {
      display: inline-block;
      .counter {
        position: relative;
        z-index: 2;
        left: 90px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: $light-grey;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .digit {
          color: $light-blue;
        }
      }
      .object {
        position: relative;
        bottom: 25px;
        margin: 0 10px 0 10px;
        width: 220px;
        height: 330px;
        display: flex;
        flex-direction: column;

        .photo {
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: center;
          img {
            display: block;
            min-width: 300px;
            min-height: 100%;
            object-fit: cover;
          }
        }

        .description {
          height: 130px;
          .object-title {
            display: inline-flex;
            position: relative;
            height: 33%;
            width: 100%;
            background: $light-grey;
            margin: 0;
            .bld-class {
              width: 15%;
              height: 100%;
              text-align: center;
              padding-top: 15px;
              color: $light-blue;
            }
            .bld-name {
              padding-right: 5px;
              width: 85%;
              height: 100%;
              text-align: left;
              font-size: 12px;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
          .address {
            @extend .object-title;
            background: transparent;
            .address-icon {
              @extend .bld-class;
            }
            .address-name {
              @extend .bld-name;
            }
          }
          .metro {
            @extend .address;
            .metro-icon {
              @extend .bld-class;
            }
            .metro-name {
              @extend .bld-name;
            }
          }
        }

      }
    }
  }
}
