.back-header {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 40px;
  background: white;
  border-bottom: 1px solid #c2c2c2;
  padding: 5px 10px 5px 10px;
  .back {
    position: relative;
    display: inline-block;
    cursor: pointer;
    .back-text {
      position: relative;
      padding-left: 10px;
      bottom: 6px;
    }
  }
}

.MobileAboutObject {
  padding-top: 80px;
  .about-object {
    background: white;
    width: 100%;
    .photo-area {
      position: relative;
      width: 100%;
      height: 250px;
      .object-class {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $light-grey;
        color: $light-blue;
        .class-letter {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .object-main {
      padding: 10px;
      table {
        width: 100%;
        .object-name {
          width: 80%;
          vertical-align: top;
          font-size: 18px;
        }
        .object-id {
          width: 20%;
          font-size: 19px;
          color: $light-blue;
        }
      }
    }
    .object-metros {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      .station {
        margin-bottom: 10px;
      }
    }
    .object-address {
      width: 100%;
      background: $light-grey;
      padding: 10px;
      font-size: 14px;
      table {
        width: 100%;
        .address {
          width: 80%;
          img {
            margin-right: 5px;
          }
          .show-map {
            margin-left: 20px;
            margin-top: 5px;
            color: $light-blue;
            span {
              border-bottom: 1px solid;
              &:active {
                color: darken($light-blue, 20%);
              }
            }
          }
        }
        .map {
          img {
            border-radius: 4px;
            float: right;
          }
        }
      }
    }
    .object-map {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 250px;
      background: $light-grey;
    }
    .suggested-areas {
      position: relative;
      width: 100%;
      background: white;
      z-index: 2;
      .suggested-title {
        font-size: 18px;
        padding: 15px 10px;
        img {
          position: relative;
          margin-right: 10px;
          bottom: -2px;
        }
      }
      .suggested-floors {
        .suggested-block {
          width: 100%;
          border-top: 1px solid #c2c2c2;
          .small-text {
            font-size: 14px;
          }
          .decription-column {
            padding: 10px;
            width: 45%;
            vertical-align: top;
            div {
              margin-bottom: 5px;
              &:nth-child(2) {
                font-size: 18px;
              }
              &:nth-child(3) {
                margin-top: 10px;
              }
            }
          }
          .photos-column {
            padding-top: 10px;
            width: 10%;
            vertical-align: top;
            div {
              margin-bottom: 5px;
            }
          }
          .price-column {
            padding: 10px;
            width: 45%;
            padding-left: 10px;
            vertical-align: top;
            div {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .commercial {
      width: 100%;
      position: relative;
      z-index: 2;
      background: white;
      border-top: 5px solid $light-grey;
      .commercial-title {
        font-size: 18px;
        padding: 15px 10px;
        img {
          position: relative;
          margin-right: 10px;
          bottom: -2px;
        }
      }
      .commercial-content {
        padding: 10px;
        border-top: 1px solid #c2c2c2;
        font-size: 14px;
        div {
          margin-bottom: 5px;
        }
        .offer-val {
          margin-left: 10px;
        }
      }
    }
    .general-info {
      @extend .commercial;
      .general-title {
        @extend .commercial-title;
      }
      .general-content {
        padding: 10px;
        font-size: 14px;
        border-top: 1px solid #c2c2c2;
        .prop {
          display: inline-block;
          width: 50%;
          padding: 5px;
          .prop-image {
            display: inline-block;
            width: 18%;
            margin-right: 5%;
          }
          .prop-name {
            display: inline-block;
          }
        }
      }
    }
    .infrastructure {
      @extend .commercial;
      .infrastructure-title {
        @extend .commercial-title;
      }
      .infrastructure-content {
        padding: 10px;
        font-size: 14px;
        border-top: 1px solid #c2c2c2;
        .infrastructure-value {
          margin-right: 20px;
        }
      }
    }
    .comment {
      @extend .commercial;
      .comment-title {
        @extend .commercial-title;
      }
      .comment-content {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

.mobile-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  .mobile-modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2b2939;
    opacity: 0.9;
  }
  .mobile-close-button {
    position: absolute;
    right: 0;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 35px;
    padding: 0;
    transform: rotate(45deg);
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:active {
      color: darken(white, 20%);
    }
  }
  .mobile-modal-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
  }
}
