

@mixin responsive($media) {
  @if $media == iphone4 {
    @media only screen
    and (max-width: 320px)
    and (max-height: 480px)
    and (orientation: portrait) {
      @content;
    }
  }
  @if $media == iphone5 {
    @media only screen
    and (max-width: 320px)
    and (min-height: 481px)
    and (max-height: 568px)
    and (orientation: portrait) {
      @content;
    }
  }
  @if $media == mobile {
    @media only screen
    and (min-width: 321px)
    and (max-width: 767px)
    and (min-height: 569px)
    and (max-height: 1023px)
    and (orientation: portrait) {
      @content;
    }
  }
  @if $media == tablet-portrait {
    @media only screen
    and (min-width: 768px)
    and (min-height: 1024px)
    and (orientation: portrait) {
      @content;
    }
  }
  @if $media == tablet-landscape {
    @media only screen
    and (min-width: 1024px)
    and (orientation: landscape) {
      @content;
    }
  }
}

body {
  background: $light-grey;
}

.MobileApp {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.add-margin{
  margin-top: 40px;
}

.Header {
  width: 100%;
  height: 40px;
  background: white;
  border-bottom: 1px solid #c2c2c2;
  z-index: 3;
  padding: 10px;
  .logo {
    width: 60px;
  }
  .phone {
    float: right;
  }
}

.phone-number {
  text-decoration: none;
  &:link {
    color: $font-main-color;
  }
}

.compare-button-background {
  width: 100%;
  height: 100px;
  background: white;
  padding: 0 10px 40px 10px;
  .compare-button {
    width: 100%;
    height: 100%;
    background: $light-blue;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    &:active {
      background: darken($light-blue, 20%);
    }
  }
}

.loading-mobile {
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
