.MobileCompareTable {
  background: white;
  padding-top: 100px;
  .compare-title {
    font-size: 20px;
    padding: 10px 10px 20px;
  }
  .compare-areas {
    .compare-building {
      padding: 10px;
      border-top: 1px solid #c2c2c2;
    }
    .compare-floors {
      width: 100%;
      border-top: 1px solid #c2c2c2;
      padding: 10px;
      .compare-block {
        width: 100%;
        .small-text {
          font-size: 14px;
        }
        .decription-column {
          width: 45%;
          padding: 5px 0 5px 0;
          vertical-align: top;
          div {
            &:nth-child(2) {
              font-size: 18px;
              margin-top: 5px;
            }
            &:nth-child(3) {
              margin-top: 10px;
            }
          }
        }
        .photos-column {
          width: 10%;
        }
        .price-column {
          width: 45%;
          padding: 5px 0 5px 0;
          vertical-align: top;
          div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
