.MobileСontacts {
  position: relative;
  z-index: 2;
  text-align: center;
  background: $light-grey;
  padding: 0 10px 0 10px;
  .contacts-title {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background: white;
    border-bottom: 1px solid #c2c2c2;
    padding: 18px;
    margin-top: 10px;
  }
  .contacts-broker {
    background: white;
    padding: 20px 15px;
    .photo-area {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      overflow: hidden;
    }
    .text-area {
      div {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .broker-name {
        font-size: 18px;
      }
    }
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
  }
  .bottom-triangle {
    margin: auto;
    width: 0;
  	height: 0;
  	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
  	border-bottom: 30px solid white;
  }
}
