.MobilePhotoViewer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .swiped-images {
    width: 100%;
    height: 100%;
  }
  .photo-counter {
    position: absolute;
    color: white;
    background: black;
    opacity: 0.8;
    padding: 5px 10px 5px 10px;
    bottom: 10px;
    right: 10px;
  }
}

.Swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-flex;
}
