.MobileSuggestedObjects {
  position: relative;
  padding-top: 45px;
  width: 100%;
  background: white;
  .mobile-page-title {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
    .bld-icon {
      position: relative;
      height: 25px;
      top: 2px;
    }
  }
  .suggested-object {
    width: 100%;
    height: 500px;
    padding-bottom: 40px;
    background: white;
    .photo-area {
      position: relative;
      width: 100%;
      height: 50%;
      background: grey;
      .photo {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          display: block;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
      .round-number {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $light-grey;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        .digit {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .description-area {
      position: relative;
      width: 100%;
      height: 50%;
      padding: 20px 10px 0 10px;
      text-align: center;
      .description {
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
        .icons-column {
          width: 10%;
          font-size: 20px;
        }
        td {
          padding-bottom: 10px;
        }
      }
    }
  }
}

.blue-button {
  border: 2px solid $light-blue;
  background: white;
  color: $light-blue;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  &:active {
    color: darken($light-blue, 20%);
    border: 2px solid darken($light-blue, 20%);
  }
}
