.MobileTitlePage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .title-image {
    position: absolute;
    min-width: 100%;
    z-index: 0;
  }
  .wrapper {
    position: absolute;
    height: 2000px;
    width: 2000px;
    @include responsive(tablet-portrait) {
      top: 20%;
    };
    @include responsive(tablet-landscape) {
      top: 25%;
    };
    @include responsive(iphone4) {
      top: -52%;
    };
    @include responsive(iphone5) {
      top: -45%;
    };
    @include responsive(mobile) {
      top: -30%;
    };
    top: -70%;
    background: white;
    border: 25px solid white;
    transform: rotate(45deg);
    .grey-border {
      width: 100%;
      height: 100%;
      border: 25px solid $light-grey;
    }
  }
  .title-content {
    position: absolute;
    @include responsive(tablet-portrait) {
      height: 60%;
    };
    @include responsive(iphone4) {
      height: 60%;
      width: 90%;
    };
    @include responsive(iphone5) {
      height: 65%;
      width: 90%;
    };
    @include responsive(mobile) {
      height: 65%;
    };
    width: 80%;
    height: 80%;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 10px;
    padding-left: 20%;
    .logo {
      position: relative;
      width: 35%;
      @include responsive(tablet-portrait) {
        width: 30%;
      };
      @include responsive(tablet-landscape) {
        width: 30%;
      };
    }
    .page-title {
      margin-top: 10%;
      font-size: 1.8rem;
      @include responsive(iphone4) {
        font-size: 1.7rem;
      };
    }
    .small-text {
      margin-top: 5%;
      font-size: 0.8rem;
    }
    .date {
      font-size: 0.8rem;
      margin-top: 5%;
    }
  }
  .down-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
  }
}
